/NeoSRC/air/*.air
/シナリオ/*.7z
/シナリオ/(2)知世の野望/save/*.srcsav
/シナリオ/(2)知世の野望_シート/save/知世の野望_01.srcsav
/シナリオ/(2)知世の野望_シート/save/知世の野望_02.srcsav
/シナリオ/(2)知世の野望_シート/save/知世の野望_03.srcsav
/シナリオ/(2)知世の野望_シート/save/知世の野望_04.srcsav
/シナリオ/(2)知世の野望_シート/save/知世の野望_05.srcsav
/シナリオ/(2)知世の野望_シート/save
/シナリオ/(2)知世の野望_シート/save_
