<?xml version="1.0" encoding="UTF-8"?>
<!-- Created with TexturePacker https://www.codeandweb.com/texturepacker -->
<!-- $TexturePacker:SmartUpdate:a5be67dc674ae876993ac0a004fc09fc:b3de9d603a112d2ea1734ee6450b3062:75e730636da1f75148defc1997c875c7$ -->
<TextureAtlas imagePath="system.png" width="512" height="1024">
    <SubTexture name="anime/fluganime" x="195" y="51" width="190" height="29" frameX="0" frameY="-1" frameWidth="190" frameHeight="30"/>
    <SubTexture name="backimg" x="505" y="126" width="4" height="4"/>
    <SubTexture name="battleback_bottom" x="195" y="1" width="192" height="48"/>
    <SubTexture name="battleback_default" x="349" y="575" width="64" height="64"/>
    <SubTexture name="battleback_top" x="1" y="1" width="192" height="96"/>
    <SubTexture name="btn_Act" x="387" y="179" width="96" height="64"/>
    <SubTexture name="btn_Atk" x="379" y="245" width="96" height="64"/>
    <SubTexture name="btn_base" x="99" y="551" rotated="true" width="64" height="96"/>
    <SubTexture name="btn_base_b" x="349" y="641" width="64" height="64"/>
    <SubTexture name="btn_base_color" x="1" y="99" width="128" height="80"/>
    <SubTexture name="btn_base_w" x="1" y="559" width="96" height="64"/>
    <SubTexture name="btn_bgm" x="415" y="670" width="64" height="64"/>
    <SubTexture name="btn_chara" x="1" y="181" width="128" height="80"/>
    <SubTexture name="btn_close" x="477" y="295" rotated="true" width="32" height="96"/>
    <SubTexture name="btn_commander" x="1" y="625" width="96" height="64"/>
    <SubTexture name="btn_End" x="378" y="311" width="96" height="64"/>
    <SubTexture name="btn_event" x="193" y="164" width="128" height="80"/>
    <SubTexture name="btn_execution" x="183" y="542" width="96" height="64"/>
    <SubTexture name="btn_intermission_base" x="193" y="246" width="128" height="80"/>
    <SubTexture name="btn_list_main" x="497" y="77" width="6" height="24"/>
    <SubTexture name="btn_list_sub" x="505" y="77" width="6" height="24"/>
    <SubTexture name="btn_listload" x="183" y="608" width="96" height="64"/>
    <SubTexture name="btn_listsave" x="99" y="649" rotated="true" width="64" height="96"/>
    <SubTexture name="btn_Menu" x="367" y="377" width="96" height="64"/>
    <SubTexture name="btn_Move" x="183" y="410" width="96" height="64"/>
    <SubTexture name="btn_newgame" x="1" y="691" width="96" height="64"/>
    <SubTexture name="btn_next" x="1" y="263" width="128" height="80"/>
    <SubTexture name="btn_Pass" x="366" y="443" width="96" height="64"/>
    <SubTexture name="btn_QuickLoad" x="365" y="509" width="96" height="64"/>
    <SubTexture name="btn_Reset" x="1" y="427" width="96" height="64"/>
    <SubTexture name="btn_Return" x="99" y="453" rotated="true" width="64" height="96"/>
    <SubTexture name="btn_save" x="186" y="328" width="128" height="80"/>
    <SubTexture name="btn_Shop" x="195" y="82" width="128" height="80"/>
    <SubTexture name="btn_Skill" x="1" y="493" width="96" height="64"/>
    <SubTexture name="btn_strength" x="1" y="345" width="128" height="80"/>
    <SubTexture name="btn_Strength" x="183" y="476" width="96" height="64"/>
    <SubTexture name="btn_wide" x="281" y="410" rotated="true" width="32" height="96"/>
    <SubTexture name="effect/fire" x="449" y="637" width="31" height="31" frameX="0" frameY="0" frameWidth="32" frameHeight="32"/>
    <SubTexture name="emptylistitem" x="415" y="575" width="32" height="32"/>
    <SubTexture name="frame_b" x="449" y="603" width="32" height="32"/>
    <SubTexture name="frame_r" x="415" y="609" width="32" height="32"/>
    <SubTexture name="kake" x="427" y="759" width="16" height="16" frameX="0" frameY="-4" frameWidth="16" frameHeight="24"/>
    <SubTexture name="listitem" x="315" y="657" width="32" height="32"/>
    <SubTexture name="minus" x="497" y="43" width="14" height="6" frameX="-1" frameY="-9" frameWidth="16" frameHeight="24"/>
    <SubTexture name="msg_window_b" x="325" y="113" rotated="true" width="60" height="91"/>
    <SubTexture name="msg_window_r" x="131" y="99" rotated="true" width="60" height="91"/>
    <SubTexture name="number_0" x="165" y="437" width="16" height="24"/>
    <SubTexture name="number_1" x="497" y="1" width="14" height="24" frameX="-1" frameY="0" frameWidth="16" frameHeight="24"/>
    <SubTexture name="number_2" x="165" y="463" width="16" height="24"/>
    <SubTexture name="number_3" x="165" y="489" width="16" height="24"/>
    <SubTexture name="number_4" x="165" y="515" width="16" height="24"/>
    <SubTexture name="number_5" x="165" y="541" width="16" height="24"/>
    <SubTexture name="number_6" x="165" y="567" width="16" height="24"/>
    <SubTexture name="number_7" x="165" y="593" width="16" height="24"/>
    <SubTexture name="number_8" x="165" y="619" width="16" height="24"/>
    <SubTexture name="number_9" x="165" y="645" width="16" height="24"/>
    <SubTexture name="parcent" x="477" y="759" width="16" height="16" frameX="0" frameY="-4" frameWidth="16" frameHeight="24"/>
    <SubTexture name="pex_fire" x="449" y="637" width="31" height="31" frameX="0" frameY="0" frameWidth="32" frameHeight="32"/>
    <SubTexture name="plus" x="497" y="27" width="14" height="14" frameX="-1" frameY="-5" frameWidth="16" frameHeight="24"/>
    <SubTexture name="point" x="505" y="119" width="6" height="5" frameX="-10" frameY="-19" frameWidth="16" frameHeight="24"/>
    <SubTexture name="Skl_bullet" x="131" y="363" width="50" height="24" frameX="-11" frameY="0" frameWidth="72" frameHeight="24"/>
    <SubTexture name="Skl_heal" x="316" y="369" width="49" height="24" frameX="-11" frameY="0" frameWidth="72" frameHeight="24"/>
    <SubTexture name="Skl_spl" x="316" y="395" width="49" height="24" frameX="-12" frameY="0" frameWidth="72" frameHeight="24"/>
    <SubTexture name="Skl_target" x="131" y="389" width="50" height="24" frameX="-11" frameY="0" frameWidth="72" frameHeight="24"/>
    <SubTexture name="Skl_treatment" x="316" y="343" width="50" height="24" frameX="-10" frameY="0" frameWidth="72" frameHeight="24"/>
    <SubTexture name="slash" x="165" y="671" width="16" height="24"/>
    <SubTexture name="Status_ATK" x="464" y="471" rotated="true" width="32" height="64"/>
    <SubTexture name="Status_CAP" x="463" y="537" rotated="true" width="32" height="64"/>
    <SubTexture name="Status_DEF" x="281" y="640" rotated="true" width="32" height="63" frameX="0" frameY="0" frameWidth="64" frameHeight="32"/>
    <SubTexture name="Status_Eva" x="131" y="224" width="60" height="29" frameX="-3" frameY="-2" frameWidth="64" frameHeight="32"/>
    <SubTexture name="Status_FP" x="131" y="307" width="53" height="26" frameX="-5" frameY="-3" frameWidth="64" frameHeight="32"/>
    <SubTexture name="Status_Heal" x="131" y="192" width="60" height="30" frameX="-4" frameY="-1" frameWidth="64" frameHeight="32"/>
    <SubTexture name="Status_Hit" x="323" y="206" width="60" height="29" frameX="-1" frameY="-2" frameWidth="64" frameHeight="32"/>
    <SubTexture name="Status_HP" x="485" y="179" rotated="true" width="26" height="56" frameX="-4" frameY="-3" frameWidth="64" frameHeight="32"/>
    <SubTexture name="Status_Lv" x="323" y="315" width="52" height="26" frameX="-6" frameY="-3" frameWidth="64" frameHeight="32"/>
    <SubTexture name="Status_MND" x="281" y="508" rotated="true" width="32" height="64"/>
    <SubTexture name="Status_MOV" x="315" y="525" rotated="true" width="32" height="64"/>
    <SubTexture name="Status_SP" x="131" y="335" width="51" height="26" frameX="-9" frameY="-3" frameWidth="64" frameHeight="32"/>
    <SubTexture name="Status_SPD" x="281" y="574" rotated="true" width="32" height="64"/>
    <SubTexture name="Status_Supply" x="325" y="82" width="62" height="29" frameX="-1" frameY="-1" frameWidth="64" frameHeight="32"/>
    <SubTexture name="Status_TEC" x="315" y="591" rotated="true" width="32" height="64"/>
    <SubTexture name="Status_TP" x="485" y="237" rotated="true" width="26" height="56" frameX="-4" frameY="-3" frameWidth="64" frameHeight="32"/>
    <SubTexture name="Sys_LevelUp" x="389" y="1" rotated="true" width="106" height="176"/>
    <SubTexture name="tex_black" x="497" y="127" width="4" height="4"/>
    <SubTexture name="tex_blue" x="503" y="132" width="4" height="4"/>
    <SubTexture name="tex_green" x="497" y="133" width="4" height="4"/>
    <SubTexture name="tex_red" x="503" y="138" width="4" height="4"/>
    <SubTexture name="tex_white" x="497" y="139" width="4" height="4"/>
    <SubTexture name="Tgt_ally" x="315" y="421" width="49" height="24" frameX="-11" frameY="0" frameWidth="72" frameHeight="24"/>
    <SubTexture name="Tgt_base" x="315" y="447" width="49" height="24" frameX="-12" frameY="0" frameWidth="72" frameHeight="24"/>
    <SubTexture name="Tgt_enemy" x="99" y="427" width="26" height="24" frameX="-23" frameY="0" frameWidth="72" frameHeight="24"/>
    <SubTexture name="unitnum_1" x="497" y="103" width="6" height="6"/>
    <SubTexture name="unitnum_2" x="505" y="103" width="6" height="6"/>
    <SubTexture name="unitnum_3" x="497" y="111" width="6" height="6"/>
    <SubTexture name="unitnum_4" x="505" y="111" width="6" height="6"/>
    <SubTexture name="unitnum_5" x="497" y="119" width="6" height="6"/>
    <SubTexture name="WeaponGrap" x="483" y="603" width="24" height="24"/>
    <SubTexture name="WeaponGuard" x="483" y="629" width="24" height="24"/>
    <SubTexture name="WeaponP" x="482" y="655" width="24" height="24"/>
    <SubTexture name="WeaponShot" x="453" y="736" width="22" height="22" frameX="-1" frameY="-1" frameWidth="24" frameHeight="24"/>
    <SubTexture name="windowitem" x="315" y="691" width="32" height="32"/>
    <SubTexture name="Wpn_All" x="131" y="415" width="48" height="20" frameX="-12" frameY="-2" frameWidth="72" frameHeight="24"/>
    <SubTexture name="Wpn_Atk" x="323" y="263" width="53" height="24" frameX="-9" frameY="0" frameWidth="72" frameHeight="24"/>
    <SubTexture name="Wpn_CapA" x="415" y="643" width="24" height="24"/>
    <SubTexture name="Wpn_CapB" x="375" y="707" rotated="true" width="24" height="23" frameX="0" frameY="0" frameWidth="24" frameHeight="24"/>
    <SubTexture name="Wpn_CapC" x="375" y="732" rotated="true" width="24" height="23" frameX="0" frameY="0" frameWidth="24" frameHeight="24"/>
    <SubTexture name="Wpn_CapD" x="401" y="736" rotated="true" width="24" height="22" frameX="-2" frameY="0" frameWidth="24" frameHeight="24"/>
    <SubTexture name="Wpn_CapGround" x="481" y="681" width="24" height="24"/>
    <SubTexture name="Wpn_CapNone" x="497" y="51" rotated="true" width="10" height="24" frameX="0" frameY="-6" frameWidth="24" frameHeight="24"/>
    <SubTexture name="Wpn_CapOther" x="481" y="707" width="24" height="24"/>
    <SubTexture name="Wpn_CapS" x="427" y="736" rotated="true" width="24" height="21" frameX="-1" frameY="0" frameWidth="24" frameHeight="24"/>
    <SubTexture name="Wpn_CapSky" x="481" y="733" width="24" height="24"/>
    <SubTexture name="Wpn_CapWater" x="349" y="707" width="24" height="24"/>
    <SubTexture name="Wpn_Count" x="315" y="473" width="48" height="24" frameX="-13" frameY="0" frameWidth="72" frameHeight="24"/>
    <SubTexture name="Wpn_CRT" x="323" y="237" width="54" height="24" frameX="-9" frameY="0" frameWidth="72" frameHeight="24"/>
    <SubTexture name="Wpn_Eva" x="131" y="255" width="54" height="24" frameX="-9" frameY="0" frameWidth="72" frameHeight="24"/>
    <SubTexture name="Wpn_Fp" x="465" y="419" width="41" height="24" frameX="-17" frameY="0" frameWidth="72" frameHeight="24"/>
    <SubTexture name="Wpn_Grd" x="131" y="281" width="54" height="24" frameX="-8" frameY="0" frameWidth="72" frameHeight="24"/>
    <SubTexture name="Wpn_Hit" x="323" y="289" width="53" height="24" frameX="-9" frameY="0" frameWidth="72" frameHeight="24"/>
    <SubTexture name="Wpn_Rng" x="315" y="499" width="48" height="24" frameX="-11" frameY="0" frameWidth="72" frameHeight="24"/>
    <SubTexture name="Wpn_Sp" x="464" y="445" width="40" height="24" frameX="-15" frameY="0" frameWidth="72" frameHeight="24"/>
    <SubTexture name="Wpn_Tp" x="465" y="393" width="42" height="24" frameX="-15" frameY="0" frameWidth="72" frameHeight="24"/>
</TextureAtlas>
